:root {
  --zoom: 1;
  --secondary-scale-factor: 0.6;

  /**********/
  /* Layout */
  /**********/

  --overlay-flex-justification: flex-start; /* "flex-start", "space-between", and "flex-end" */

  --overlay-width: inherit; /* Use less than 100vw in conjunction with height 100vh to dock the captions to the left side of the screen */

  --overlay-height: inherit; /* Use inherit for automatic height, use 100vh for "full screen" */

  --overlay-vertical-padding: calc(0.75vh * var(--zoom));

  --overlay-horizontal-padding: var(--overlay-vertical-padding);

  --overlay-window-display: inline-block; /* "flex" for full-width, "inline-block" for dynamic width */

  --overlay-window-vertical-padding: calc(0.8vh * var(--zoom));

  --overlay-window-horizontal-padding: 2.4vh;

  --overlay-text-align: center; /* "center", "start" (natural convention), "left", or "right" */

  --overlay-text-vertical-padding: 0;

  --overlay-text-horizontal-padding: var(--overlay-text-vertical-padding);

  /**************/
  /* Background */
  /**************/

  --overlay-background-color: none;

  --overlay-background-image: none;

  --overlay-background-position: 50% 50%;

  --overlay-background-size: cover;

  --overlay-window-background-color: #f5f2eaeb;

  --overlay-window-background-image: none;

  --overlay-window-background-position: 50% 50%;

  --overlay-window-background-size: cover;

  --overlay-text-background-color: none;

  --overlay-text-background-image: none;

  --overlay-text-background-position: 50% 50%;

  --overlay-text-background-size: contain;

  --overlay-esc-background: none;

  --overlay-esc-window-background: none;

  --overlay-esc-text-background: none; /* Background definition when the presenter is completely cleared with the escape hotkey, can be set with shorthand for full screen overlays or cinematic full-bar overlays. */

  /********/
  /* Font */
  /********/

  --overlay-primary-font-size: calc(2.4333vw * var(--zoom));

  --overlay-primary-font-color: #282550; /* Color of gurbani font */

  --overlay-primary-larivaar-assist-color: #322f5a;

  --overlay-primary-drop-color: none; /* Must be in "R, G, B" format (e.g. "0, 0, 0" without quotes). Color of drop shadow/glow for gurbani font. */

  --overlay-secondary-font-size: calc(
    var(--overlay-primary-font-size) * var(--secondary-scale-factor)
  );

  --overlay-secondary-font-color: #07070099;

  --overlay-secondary-larivaar-assist-color: #0f0f0f99;

  --overlay-secondary-drop-color: none; /* Must be in "R, G, B" format (e.g. "0, 0, 0" without quotes) */

  /*******************/
  /* Vishraam Colors */
  /*******************/

  --overlay-vishraam-heavy-color: inherit; /* Set to "inherit" to hide colors */

  --overlay-vishraam-medium-color: inherit;

  --overlay-vishraam-light-color: inherit;
}

.overlay-line {
  border-radius: 2.4vh;
}
